<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="../static/css/demostyle.css">
</head>
<body>
    <header>
        <div class="name">SizeMe</div>
        <form action="/">
            <input type="submit" value="Home" />
        </form>
    </header>

    <main>
        <h1>Demo</h1>
        <p>this is the demo page</p>

        <form method="POST">
            <input type="submit" value="Take Picture">
        </form>

        <img src="{{ url_for('video_feed') }}" height="80%">

        <form action="{{ url_for('results') }}" method="POST">
            <input type="radio" id="men" name="category" value="1">
            <label for="men">Men's</label><br>
            <input type="radio" id="women" name="category" value="2">
            <label for="women">Women's</label><br>

            <label for="fname">Height:</label>
            <input type="text" id="height" name="height"><br><br>

            <button type="submit">Submit</button>
        </form>

    </main>
</body>
</html>