<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="../static/css/demostyle.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="../static/images/logo.svg" alt="SizeMe Logo" class="logo-img">
                FitMe
            </div>
            <nav>
                <a href="/">
                    <img src="../static/images/home.svg" alt="home Icon" class="nav-icon">
                    Home
                </a>
                <a href="/doc">
                    <img src="../static/images/doc.svg" alt="Docs Icon" class="nav-icon">
                    Documentation
                </a>
            </nav>
            <a href="https://github.com/AdityaRayapudi/SizeMe" target="_blank" class="github-link">
                <img src="../static/images/github.svg" alt="GitHub Icon" class="nav-icon">
                GitHub
            </a>
        </div>
    </header>

    <main>
        <h1>Demo</h1>
        <section>
            <p>Find your size!</p>
            <p>Press "Fit Me" and step back</p>
            <p>until your whole body is in frame.</p>
        </section>

        <form method="POST">
            <input class="fit" type="submit" value="Fit Me">
        </form>

        <img class="video" src="{{ url_for('video_feed') }}" height="80%">

        <section class="info">
            <p>Clothing Category:</p>
            <form action="{{ url_for('results') }}" method="POST">
                <input type="radio" id="men" name="category" value="1">
                <label for="men">Men's</label><br>
                <input type="radio" id="women" name="category" value="2">
                <label for="women">Women's</label><br>
                <p></p>

                <label for="height">Height (inches):</label>
                <input type="text" id="height" name="height"><br><br>

                <button class="finalSub" type="submit">Submit</button>
                <p></p>
            </form>
        </section>
    </main>
</body>
</html>