<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installation</title>
    <link rel="stylesheet" href="../static/css/docstyle.css">
</head>
<body>
    <header>
        <div class="name">SizeMe</div>
    </header>

    <main>
        <h1>Get Started with SizeMe</h1>
        <p class="intro">put soemthing here</p>
    
        <section class="windows">
            <h2>Windows</h2>
            <p>instructions go here</p>
        </section>
    
        <section class="mac">
            <h2>Mac</h2>
            <p>instructions go here</p>
        </section>
    </main>