<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installation</title>
    <link rel="stylesheet" href="../static/css/docstyle.css"> 
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="../static/images/logo.svg" alt="SizeMe Logo" class="logo-img">
                FitMe
            </div>
            <nav>
                <a href="/">
                    <img src="../static/images/home.svg" alt="home Icon" class="nav-icon">
                    Home
                </a>
                <a href="/demo/">
                    <img src="../static/images/launch.svg" alt="Demo Icon" class="nav-icon">
                    Demo
                </a>
            </nav>
            <a href="https://github.com/AdityaRayapudi/SizeMe" target="_blank" class="github-link">
                <img src="../static/images/github.svg" alt="GitHub Icon" class="nav-icon">
                GitHub
            </a>
        </div>
    </header>

    <main class="documentation">
        <h1>Get Started with SizeMe</h1>
        <p class="intro">Put some words here like a doc page blah blah <!-- explain what is here stuff here-->
        </p>

        <section class="windows">
            <h2>Windows Installation</h2>
            <p>To install SizeMe on Windows:</p>
            <!--explain some stuff here-->
            <pre><code class="language-bash">python -m venv env
source ./env/scripts/activate
pip install -r requirements.txt
flask run</code></pre>
        </section>

        <section class="mac">
            <!--put some doc stuff here-->
            <h2>Mac OS / Linux Installation</h2>
            <p>To install SizeMe on macOS or Linux:</p>
            <pre><code class="language-bash">python3 -m venv env
source env/bin/activate
pip install -r requirements.txt
flask run</code></pre>
        </section>

        <section class="usage">
            <h2>Usage</h2>
            <p>How to use SizeMe in your project:</p>
            <!--put some doc stuff here-->
            <pre><code class="language-javascript">how to initliaze here;</code></pre>
        </section>
</body>
</html>
