<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div class="name">SizeMe</div>
        <nav>
            <a href="/doc">Documentation</a>
        </nav>
    </header>

    <main>
        <h1>Get your size in seconds</h1>
        <p>something about our product</p>
        
        <a href="/demo/">Demo</a>
    </main>
</body>
</html>